*.aux
*.log
*.tuo
*.top
*.tui
*.toc
*.tmp
*.lof
*.blg
*.bbl
*.mp
*.bak

/thesis.synctex.gz
/presentation/presentation.synctex.gz
/presentation/presentation.snm
/presentation/presentation.out
/presentation/presentation.nav
